# Mac OS
.DS_Store
package-lock.json

# NPM
/node_modules
npm-*

# Testing
/.nyc_output
/coverage

# Build
/build
/dist
/.opt-in
/build.zip
/build-m.zip
*.zip

# generated translation files
/translations
/locale
